.App {
  text-align: center;
  background-color: plum;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: antiquewhite;
}

.loader {
  font-weight: bold;
  font-size: 200%;
  text-align: center;
  background-color: plum;
  color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.grid {
  display: flex;
  flex-direction: column;
}

.question-section {
  width: 450px;
  min-height: 100px;
  padding: 2.5rem;
  background-color: antiquewhite;
  color: purple;
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.questions {
  font-size: 1.5rem;
  line-height: 2rem;
}

.answer-section {
  display: grid;
  width: 530px;
  min-height: 100px;
  margin-top: 1.5rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1.5rem;
  display: grid;
  margin-top: 1.5rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1.5rem;
}

.correct-answer {
  color: green;
  cursor: pointer;
  padding: 1rem;
  background-color: antiquewhite;
  font-weight: 600;
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.incorrect-answer {
  color: red;
  cursor: pointer;
  padding: 1rem;
  background-color: antiquewhite;
  font-weight: 600;
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.no-answer {
  color: purple;
  cursor: pointer;
  padding: 1rem;
  background-color: antiquewhite;
  font-weight: 600;
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.button {
  color: darkorange;
  cursor: pointer;
  min-height: 100px;
  padding: 2rem;
  background-color: antiquewhite;
  font-weight: 900;
  font-size: larger;
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.next-question {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 25%;
  margin-left: 75%;
  margin-top: 2rem;
  padding: 1rem;
  background-color: #6d28d9;
  color: #ffffff;
  font-weight: 600;
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
}
